@import "./rose-pine.css";

* {
  background: @overlay;
  border: 0px;
  font-size: 12;
  font-family: "Daddy Time Mono Nerd Font";
}

#clock {
  background: @surface;
  color: @gold;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 8px;
  border-radius: 8px 2px 2px 8px;
}

#custom-weather {
  background: @surface;
  color: @text;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  padding: 8px;
  border-radius: 2px 8px 8px 2px;
}

#workspaces {
  font-family: "Noto Serif CJK";
  font-weight: bold;
  background: @surface;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  border-radius: 8px 8px 8px 8px;
}

#workspaces button {
  background-color: @surface;
  color: @muted;
}

#workspaces button.active {
  color: @love;
}

#mpris {
  color: @foam;
}

#network {
  background: @surface;
  color: @love;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  padding: 8px;
  border-radius: 8px 2px 2px 8px;
}

#temperature {
  background: @surface;
  color: @iris;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  padding: 8px;
  border-radius: 2px 2px 2px 2px;
}

#disk {
  background: @surface;
  color: @foam;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  padding: 8px;
  border-radius: 2px 2px 2px 2px;
}

#battery {
  background: @surface;
  color: @text;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  padding: 8px;
  border-radius: 2px 8px 8px 2px;
}

#pulseaudio {
  background: @surface;
  color: @rose;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px 0px 0px 8px;
}

#backlight {
  background: @surface;
  color: @rose;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  padding: 8px;
  border-radius: 0px 8px 8px 0px;
}

#custom-updates {
  font-weight: bold;
  background: @surface;
  color: @gold;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px 0px 0px 8px;
}

#custom-updates.green {
  color: @pine;
}

#custom-updates.yellow {
  color: @gold;
}

#custom-updates.red {
  color: @love;
}

#custom-logout {
  font-size: 14;
  font-weight: bold;
  background: @surface;
  color: @rose;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 8px;
  border-radius: 0px 8px 8px 0px;
}
