---
- name: Ensure target directory $HOME/.local/bin exists
  ansible.builtin.file:
    path: "$HOME/.local/bin"
    state: directory
    owner: "{{ user_id }}"
    group: "{{ user_id }}"
    mode: "0755"

- name: Check if .gitconfig is present
  ansible.builtin.stat:
    path: "$HOME/.gitconfig"
  register: gitconfig

- name: Install .gitconfig template when github name and email are defined
  ansible.builtin.template:
    src: templates/gitconfig.j2
    dest: "$HOME/.gitconfig"
    owner: "{{ user_id }}"
    group: "{{ user_id }}"
    mode: "0755"
  when: not gitconfig.stat.exists and github_email is defined and github_name is defined

- name: Install .gitconfig file when github name and email are not defined
  ansible.builtin.copy:
    src: files/gitconfig
    dest: "$HOME/.gitconfig"
    owner: "{{ user_id }}"
    group: "{{ user_id }}"
    mode: "0755"
  when: not gitconfig.stat.exists and github_email is undefined and github_name is undefined

- name: Check if .profile is present
  ansible.builtin.stat:
    path: "$HOME/.profile"
  register: profile

- name: Install .profile configuration
  ansible.builtin.copy:
    src: "files/profile"
    dest: "$HOME/.profile"
    owner: "{{ user_id }}"
    group: "{{ user_id }}"
    mode: "0755"
  when: not profile.stat.exists

