---
- name: Check if LazyVim is installed
  ansible.builtin.stat:
    path: $HOME/.config/nvim
  register: lazyvim

- name: Install LazyVim, a neovim configuration, if it is not
  ansible.builtin.git:
    repo: https://github.com/LazyVim/starter
    dest: $HOME/.config/nvim
    version: HEAD
  when: not lazyvim.stat.exists
  # noqa: latest

- name: Remove LazyVim git directory
  ansible.builtin.file:
    path: $HOME/.config/nvim/.git
    state: absent
  when: not lazyvim.stat.exists
