---
- name: Running common task
  include: common.yml

- name: Running dotfiles task
  include: dotfiles.yml

- name: Running binfiles task
  include: binfiles.yml

- name: Running sudoers task
  include: sudoers.yml

- name: Running spacevim task
  include: spacevim.yml

- name: Running ssh-lockdown task
  include: ssh-lockdown.yml

- name: Running OS specific task
  include: "tasks/{{ ansible_system|lower }}.yml"
