---
- name: Enable starship in the fish shell
  ansible.builtin.lineinfile:
    path: "{{ lookup('env', 'HOME') }}/.config/fish/config.fish"
    line: "starship init fish | source"
    owner: "{{ user_id }}"
    group: "{{ user_id }}"
    mode: "0755"
    create: true

- name: Install starship.toml configuration file
  ansible.builtin.copy:
    src: files/starship.toml
    dest: "{{ lookup('env', 'HOME') }}/.config/starship.toml"
    owner: "{{ user_id }}"
    group: "{{ user_id }}"
    mode: "0755"
