---
- name: Get starship install script from starship.rs
  ansible.builtin.get_url:
    url: https://starship.rs/install.sh
    dest: /tmp/starship_install.sh
    mode: '0755'

- name: Ensure $HOME/.local/bin exists
  ansible.builtin.file:
    path: $HOME/.local/bin
    state: directory
    owner: '{{ user_id }}'
    group: '{{ user_id }}'
    mode: '0755'

- name: Install starship via install script
  ansible.builtin.shell:
    cmd: /tmp/starship_install.sh --yes -b $HOME/.local/bin
    executable: /bin/sh

- name: Enable starship in the fish shell
  ansible.builtin.lineinfile:
    path: "{{ lookup('env', 'HOME') }}/.config/fish/config.fish"
    line: "$HOME/.local/bin/starship init fish | source"
    create: yes

- name: Install starship.toml configuration file
  ansible.builtin.copy:
    src: ../files/starship.toml
    dest: "{{ lookup('env', 'HOME') }}/.config/starship.toml"

- name: Remove starship install script
  ansible.builtin.file:
    path: /tmp/starship_install.sh
    state: absent
