---
- name: Main playbook for Basejump
  hosts: all
  gather_facts: true
  vars_files:
    - 'group_vars/all.yml'

  tasks:
    - name: Install base packages
      ansible.builtin.package:
        name: '{{ installed_packages }}'
        state: present
      become: true

    - name: 'Create or update base user {{ user_id }}'
      ansible.builtin.user:
        name: '{{ user_id }}'
        state: present
        home: '/home/{{ user_id }}'
        shell: '/usr/bin/fish'
        groups: 'wheel,audio,input,video,netdev'
        append: true
        create_home: true
      become: true
      when: ansible_facts['distribution'] == 'Alpine'

    - name: Install gitconfig template
      ansible.builtin.template:
        src: templates/gitconfig.j2
        dest: '$HOME/.gitconfig'
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Install profile configuration
      ansible.builtin.copy:
        src: files/profile
        dest: '$HOME/.profile'
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Check if LazyVim is installed
      ansible.builtin.stat:
        path: $HOME/.config/nvim
      register: lazyvim

    - name: Install LazyVim, a neovim configuration, if it is not
      ansible.builtin.git:
        repo: https://github.com/LazyVim/starter
        dest: $HOME/.config/nvim
        # update: false
        version: HEAD
      when: not lazyvim.stat.exists
      # noqa: latest

    - name: Remove LazyVim git directory
      ansible.builtin.file:
        path: $HOME/.config/nvim/.git
        state: absent

    - name: Ensure $HOME/.local/bin exists
      ansible.builtin.file:
        path: $HOME/.local/bin
        state: directory
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Check existing directory for FiraCodeNerdFont
      ansible.builtin.stat:
        path: '$HOME/.local/share/fonts/FiraCodeNerdFont'
      register: font_dir

    - name: Ensure $HOME/.fonts exists
      ansible.builtin.file:
        path: '$HOME/.local/share/fonts/FiraCodeNerdFont'
        state: directory
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Download and extract FiraCodeNerdFont
      ansible.builtin.unarchive:
        src: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/FiraCode.zip
        dest: '$HOME/.fonts/FiraCodeNerdFont'
        remote_src: true
      when: not font_dir.stat.exists

    - name: Update font cache
      ansible.builtin.shell: fc-cache -f -v
      changed_when: false

    - name: Include Starship task
      include_tasks: 
        file: tasks/starship.yml


 #   - role: rolehippie.starship
 #     vars:
 #       #starship_install_directory: $HOME/.local/bin
 #       starship_install_directory: /tmp
  #      starship_owner: '{{ user_id }}'
  #      starship_group: '{{ user_id }}'
  #    deprecation_warnings: false

