---
- hosts: all
  connection: local
  gather_facts: true

  vars_files:
      - "group_vars/all.yml"
      - "group_vars/{{ ansible_system|lower }}.yml"

  tasks:
    #- include_tasks: "tasks/main.yml"
    - import_tasks: "tasks/main.yml"
      tags: ['tasks']

  roles:
    - role: cb-starship-arole
      when: ansible_distribution == 'Linux'
      tags: ['osx']

    - role: geerlingguy.homebrew
      when: ansible_distribution == 'MacOSX'
      tags: ['osx']
