---
- name: Main playbook for Basejump
  hosts: all
  gather_facts: true
  vars_files:
      - "~/.ansible/become_pass.yml"
  tasks:
    - name: Run common tasks
      ansible.builtin.include_tasks: "tasks/base.yml"
