---
- name: Main playbook for Basejump
  hosts: all
  gather_facts: true
  vars_files:
    - 'group_vars/all.yml'

  tasks:
#    - name: Show all facts
#      ansible.builtin.debug:

    - name: 'Install base packages, generic'
      ansible.builtin.package:
        name: '{{ packages_installed }}'
        update_cache: true
        state: present
      become: true

    - name: 'Install base packages, Alpine Linux specific'
      ansible.builtin.package:
        name: '{{ packages_installed_alpine }}'
        state: present
      become: true
      when: ansible_facts['distribution'] == 'Alpine'

    - name: 'Install base packages, Arch Linux specific'
      ansible.builtin.package:
        name: '{{ packages_installed_archlinux }}'
        state: present
      become: true
      when: ansible_facts['distribution'] == 'Archlinux'

    - name: Include user task
      ansible.builtin.include_tasks:
        file: tasks/user.yml

    - name: Include base-config task
      ansible.builtin.include_tasks:
        file: tasks/base-config.yml

    - name: Include LazyVim task
      ansible.builtin.include_tasks:
        file: tasks/lazyvim.yml

    - name: Include Nerd Font task
      ansible.builtin.include_tasks:
        file: tasks/nerdfont.yml

    - name: Include Starship task
      ansible.builtin.include_tasks:
        file: tasks/starship.yml
