---
- name: Main playbook for Basejump
  hosts: all
  gather_facts: true
  vars_files:
#    - '~/.ansible/become_pass.yml'
    - 'group_vars/all.yml'

  tasks:
#  - name: Test
#    debug:
#      var: ansible_facts

  - name: Install base packages
    ansible.builtin.package:
      name: '{{ installed_packages }}' 
      state: latest
    become: true

  - name: Create or update normal user
    ansible.builtin.user:
      name: '{{ local_username }}'
      uid: 1000
      shell: /bin/fish
      groups: 'wheel,audio,input,video,netdev'
      append: true
      create_home: true
    become: true
    when: ansible_facts['distribution'] == 'Alpine'

  - name: Ensure base directories exists
    ansible.builtin.file:
      path:
        - '/home/{{ local_username }}/bin'
      state: directory
      owner: '{{ local_username }}'
      group: '{{ local_username }}'
      mode: '0755'
      recurse: yes
