---
- name: Main playbook for Basejump
  hosts: all
  gather_facts: true
  vars_files:
    - 'group_vars/all.yml'

  tasks:
    - name: Install base packages
      ansible.builtin.package:
        name: '{{ installed_packages }}'
        state: present
      become: true

    - name: 'Create or update base user {{ user_id }}'
      ansible.builtin.user:
        name: '{{ user_id }}'
        state: present
        home: '/home/{{ user_id }}'
        shell: '/usr/bin/fish'
        groups: 'wheel,audio,input,video,netdev'
        append: true
        create_home: true
      become: true
      when: ansible_facts['distribution'] == 'Alpine'

    - name: Install gitconfig template
      ansible.builtin.template:
        src: templates/gitconfig.j2
        dest: '$HOME/.gitconfig'
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Install profile configuration
      ansible.builtin.copy:
        src: files/profile
        dest: '$HOME/.profile'
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Include LazyVim task
      include_tasks: 
        file: tasks/lazyvim.yml

    - name: Include nerdfont task
      include_tasks: 
        file: tasks/nerdfont.yml

    - name: Include Starship task
      include_tasks: 
        file: tasks/starship.yml
