---
- name: Main playbook for Basejump
  hosts: all
  gather_facts: true
  vars_files:
    - 'group_vars/all.yml'

  tasks:
    - name: Install base packages
      ansible.builtin.package:
        name: '{{ installed_packages }}'
        state: present
      become: true

    - name: Include user task
      include_tasks: 
        file: tasks/user.yml

    - name: Include user-config task
      include_tasks: 
        file: tasks/user-config.yml

    - name: Include LazyVim task
      include_tasks: 
        file: tasks/lazyvim.yml

    - name: Include nerdfont task
      include_tasks: 
        file: tasks/nerdfont.yml

    - name: Include Starship task
      include_tasks: 
        file: tasks/starship.yml
