---
- name: Main playbook for Basejump
  hosts: all
  gather_facts: true
  vars_files:
    - 'group_vars/all.yml'

  tasks:
    - name: Install base packages
      ansible.builtin.package:
        name: '{{ installed_packages }}'
        state: present
      become: true

    - name: 'Create or update base user {{ user_id }}'
      ansible.builtin.user:
        name: '{{ user_id }}'
        state: present
        home: '/home/{{ user_id }}'
        shell: '/usr/bin/fish'
        groups: 'wheel,audio,input,video,netdev'
        append: true
        create_home: true
      become: true
      when: ansible_facts['distribution'] == 'Alpine'

    - name: Install gitconfig template
      ansible.builtin.template:
        src: templates/gitconfig.j2
        dest: '$HOME/.gitconfig'
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Install profile configuration
      ansible.builtin.copy:
        src: files/profile
        dest: '$HOME/.profile'
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

    - name: Check if LazyVim is installed
      ansible.builtin.stat:
        path: $HOME/.config/nvim
      register: lazyvim

    - name: Install LazyVim, a neovim configuration, if it is not
      ansible.builtin.git:
        repo: https://github.com/LazyVim/starter
        dest: $HOME/.config/nvim
        # update: false
        version: HEAD
      when: not lazyvim.stat.exists
      # noqa: latest

    - name: Remove LazyVim git directory
      ansible.builtin.file:
        path: $HOME/.config/nvim/.git
        state: absent

    - name: Ensure $HOME/.local/bin exists
      ansible.builtin.file:
        path: $HOME/.local/bin
        state: directory
        owner: '{{ user_id }}'
        group: '{{ user_id }}'
        mode: '0755'

#  roles:
#    - rolehippie.starship
#      vars:
#        - deprecation_warnings: false
